@model Nightmarket.ViewModels.BoothModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Booth</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Operator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Operator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Introduction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Introduction)
        </dd>

        <dt>
         商品列表
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>商品名稱</th>
                    <th>商品價格</th>
                    <th>商品類別</th>
                </tr>
                @foreach (var item in Model.Commoditys)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Classification)
                    </td>
                </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
